<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <test name="AutoTestForWebsiteBookStore" group-by-instances="true" preserve-order="true">
    <parameter name = "browser" value = "Chrome"/>  
    <classes>
	<!--         <class name = "TestSuite.Register"/>   -->
    <!--         <class name = "TestSuite.Login"/>  -->
    <!--         <class name = "TestSuite.Logout"/>  -->
    <!--         <class name = "TestSuite.SearchProduct"/>   -->
    <!--         <class name = "TestSuite.ViewProductInfo"/>   -->
    <!--         <class name = "TestSuite.UpdateAccountInfo"/>   -->  
    <!--         <class name = "TestSuite.ChangePassword"/>   -->
	<!--         <class name = "TestSuite.AddProductToCart"/>   -->
    <!--         <class name = "TestSuite.OrderProductWithLogin"/>   -->   
    <!--         <class name = "TestSuite.OrderProductWithoutLogin"/>   -->
    <!--         <class name = "TestSuite.ViewOrderedProducts"/>   -->
   <class name = "TestSuite.OrderProductWithoutLogin"/>  
    </classes>
  </test> <!-- Test -->
 
</suite> <!-- Suite -->